@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.poppings {
    font-family: 'Poppins', sans-serif;
}

.nav-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
}